.track {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.track__info {
  width: 200px;
  margin: 0 20px;
}

.track__name {

}

.track__artist {
  font-size: 12px;
  color: gray;
}

.track__delete {
  margin-left: auto;
}